@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header-container {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-link {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
    gap: 1.5em;
    
}